h1 {
	text-align: center;
}
li {
	text-decoration: none;
	display: inline;
}

button {
	width: 300px;
	height: 100px;
	padding: 50px;
	margin-top: 10px;
	font-size: large;
	background-color: yellow;
}

button:hover {
	background-color: white;
	font-weight: bold;
}
